*{
	box-sizing: border-box;
}

h2{
	font-size: 28px;
	text-align:center;
	color:black;
	margin-bottom:40px;
	font-family: 'Source Sans Pro', sans-serif;
}

.menu{
	margin-top:40px;
	float: left;
	width: 100%;
	box-sizing: border-box;
}


.food-item {
	width: 100%;
}

.chicken,.beef,.sushi{
	background-color: #999999;
	border:2px solid black;
	width: 33.33%;
	height: 160px;
	float:left;
}

p{	
	width: 100%;
	font-size: 18px;
	padding:10px;
	clear:both;
	height: 120px;
	margin-right:auto;
	margin-left:auto;
}
.food-item h4{
	float: right;
	padding:10px;
	margin:0;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.chicken h4{
	background-color: #D49898;
}

.beef h4{
	background-color: #C14543;
}

.sushi h4{
	background-color: #E5D098;
}

/******************************* MEDIA QUERIES ********************************/



@media (min-width: 992px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    margin:1%;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 30%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .chicken, .beef {
  	margin:11px;
  }
  .sushi{
  	margin-left:10px;
  }

  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 45%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 93%;
  }
}


@media (max-width: 767px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    margin-bottom: 10px;
  }

  .food-item{
  	width: 90%;
  	margin-left:25px;
  }

  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
